<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">TODO</a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li class="active"><a href="{{ path('ezsc_workshop_homepage') }}">Home</a></li>
                                <li><a href="{{ path('user') }}">Users</a></li>
		<li><a href="{{ path('user_new') }}">New user</a></li>
		<li><a href="{{ path('practice_task-list') }}">Task lists</a></li>
		<li><a href="{{ path('practice_task-list_new') }}">New task list</a></li>
	  </ul>
	</div>
  </div>
</div>